/*---- Typography -------------------------------------------------------*/
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
h1, h2, h3, h4, h5, h6, p, a, span, body {
    font-family: 'Inter', sans-serif;
}
nav h1 {
    color: #fff;
}
.sidebar-sticky h5 {
  color: #fff;
}
/*---- Dashboard Styling ----------------------------------------------------------*/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
  background-color: #0a0a0a;
}
#content {
  width: 100%;
  padding: 20px;
  /*transition: all 0.3s;*/
}
.row {
  margin-right: -20px;
  margin-left: -20px;
}
/*Sidebar -------------------------------------------------------*/ 
select {
  width: 100%;
}
.sidebar-sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  padding: 0 20px 0 20px;
}
.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 20px;
}
.sidebar {
  background-color: #484750;
}
.sidebar-element {
  padding-top: 20px;
}
#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #35373d;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}
#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #505050;
}
/*sidebar collapse button -------------------------------------------------------*/
#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}
#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}
/* Dashboard Buttons -------------------------------------------------------*/
#reset-all {
  background-color: #C54961;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
.sidebar-sticky a  {
  text-decoration: none;
  color: #fff;
}
.randomSuperHero {
  background-color: #C54961;
  border-radius: 10px;
  color: #fff;
  padding: 15px 40px;
}
#characterWiki button {
  margin: 50px 0 0 50px;
}
button {
  border: none;
}
/*---- PieCharts ---------------------------------------------------------------*/
.dc-legend-item text {
  fill: #fff;
}
.piecharts {
  background-color: #0a0a0a;
  padding: 50px 40px 50px 0;
  
}
/*---- Line Chart ---------------------------------------------------------------*/
.dc-chart .axis path, .dc-chart .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
  stroke-width: 1 
}
path.line
{
    fill: none;
}
/*---- General Chart Styling -----------------------------------------------------*/
.linechart, .scatterplot, .seriesChart, .piecharts {
  padding: 50px 20px 50px 100px;
  overflow: auto;
}
.piecharts h5, .linechart h5, .scatterplot h5, .seriesChart h5 {
  margin-bottom: 50px;
  color: #fff;
}
.linechart {
  background-color: #141418;
}
.seriesChart{
  background-color: #1e1f24;
}
.scatterplot {
  background-color: #2b2c33;
}
.x-axis-label, .y-axis-label {
  fill: #fff;
}
.tick text {
  stroke: #fff;
}
/*---- API output ---------------------------------------------------------------*/
.randomHeroRenderArea {
  padding: 40px 0 20px 0;
  margin: 0;
  width: 100%;
}
.ApiImage, .ApiBioEntry {
  float: left;
  color: #fff;
}
.randomHeroRenderArea {
  min-height: 400px;
}
#characterWiki {
  width: 100%;
  background-color: #26282e;
}
#loader {
  width: 100%;
  margin: 0 auto;
}
#character-info-target h1 {
  color: #fff;
}
/*Back to top------------------------------------------------------------------*/
#back-to-top {
  display: flex;
  background-color: #C54961;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  transition: background-color .3s, 
    opacity .3s, visibility .5s;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: rgb(223, 94, 120);
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
/* MEDIAQUERIES----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
  }
  #sidebar.active {
      margin-left: 0;
      transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
  }
  #sidebarCollapse.active span {
      margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
  }
}